@model IEnumerable<rc907613_mis4200.Models.Event>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Attendee.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendee.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.eventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.eventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.eventDuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Attendee.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Attendee.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.eventName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.eventDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.eventLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ticket.eventDuration)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.eventID }) |
        @Html.ActionLink("Details", "Details", new { id = item.eventID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.eventID })
    </td>
</tr>
}

</table>
